#banner{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/assets/images/welcome.jpg
  );
  width: 100%;
  height: 50vh;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}
#banner-bg{
  background-color: #16161a;
}
#paragraph{
  color: #94a1b2;
}
#btn{
  background-color: #7f5af0;
  color: #fffffe;
}
#bg-2{
  background-color: #242629;
}
#bs-head{
  color: #fffffe;
}
