<div class="container-fluid" >
  <div class="row text-center" id="banner-bg">
    <div class="col-md-6 my-auto text-white">
      <h1>Welcome to BookFriends</h1>
      <h3 id="paragraph"><i> "Books for all ages"</i></h3>
      <button class="p-2 rounded my-3" id="btn" routerLink="/books" routerLink="/books">Explore Now</button>
    </div>
    <div class="col-md-6 order-first order-md-last">
      <img src="assets/images/bookbanner.png" class="img-fluid" alt="">
    </div>
  </div>
  <div class="row text-center"  id="bg-2">
    <h1 id="bs-head" class="my-2">Our Best Sellers this week</h1>
    <div class="col-md-3 mx-auto ">
      <img src="./assets/images/book1-min.jpg " class="rounded" style="height:400px;" alt="">
      <button class="p-2 rounded mb-5 mt-2" id="btn" routerLink="/books">Explore Now!</button>
    </div>
    <div class="col-md-3 mx-auto ">
      <img src="./assets/images/book2-min.jpg " class="rounded" style="height:400px;" alt="">
      <button class="p-2 rounded mb-5 mt-2" id="btn" routerLink="/books">Explore Now!</button>

    </div>
    <div class="col-md-3 mx-auto ">
      <img src="./assets/images/book4-min.jpg " class="rounded" style="height:400px;" alt ="">
      <button class="p-2 rounded mb-5 mt-2" id="btn" routerLink="/books">Explore Now!</button>

    </div>
  </div>
</div>
