#banner-bg{
  background-color: #16161a;
}
#paragraph{
  color: #94a1b2;
}
#btn{
  color: #fffffe;
}
#btn-tab{
  background-color: #7f5af0;
  color: #fffffe;
  border-radius: 4px;
}
#btn:hover{
  background-color: #7f5af0;
  color: #fffffe;
  border-radius: 4px;
}
#btn-login{
  color: #fffffe;
}
#btn-login:hover{
  background-color: rgb(217, 217, 40);
  color: #fffffe;
  border-radius: 4px;
}
#btn-signup{
  color: #fffffe;
}
#btn-signup:hover{
  background-color:red;
  color: #fffffe;
  border-radius: 4px;
}
