<div class="container-fluid" id="banner-bg">
  <div class="row">
    <div class="col-md-6 my-auto">
      <h1 class="text-white text-center">ABOUT</h1>
      <h6 class="text-white rounded p-2" id="bg-2">
        BookFriends Started back in 2017, From day one we are commited to
        provide books for all ages.About Us Our company is a comprehensive
        online bookstore for both books and other products of every point of
        knowledge. Our philosophy is based on information, communication and
        education, which we feel should be balanced out with a daily dose of
        knowledge, wisdom,understanding (overstanding, and innerstanding).Our
        website features books from every literary genre, allowing us to appeal
        to any particular taste a customer may have.Can't find what you're
        looking for? We can order the book for you.In just a few business days,
        we'll get that book to you so that you can enjoy a quiet evening at
        home, prepare a nice gift for someone or simply use it to expand your
        horizons. Our experienced staff can assist you in selecting the right
        literature and will be glad to go that extra mile for you!
      </h6>
    </div>
    <div class="col-md-6 text-center order-first order-md-last">
      <img src="assets/images/AboutUs.png" class="img-fluid" alt="" />
    </div>
  </div>
</div>
