#banner-bg{
  background-color: #16161a;
}
#paragraph{
  color: #7f5af0
}
#btn{
  background-color: #7f5af0;
  color: #fffffe;
}
#bg-2{
  background-color: #242629;
}
#bs-head{
  color: #fffffe;
}
#login-bg{
  background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 50%, #ffffff 100%);

}
