#banner-bg{
  background-color: #31353a;
}
#paragraph{
  color: #94a1b2;
}
#btn{
  background-color: #7f5af0;
  color: #fffffe;
  border-radius: 4px;
}
#card-bg{
  background-color:#16161a ;
}

